<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Appender cho console, dùng LogstashEncoder để format log theo JSON -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <thread>thread</thread>
                <message>message</message>
                <context>context</context>
                <traceId>traceId</traceId>
            </fieldNames>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <!-- Appender gửi log tới Logstash qua TCP -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination> <!-- hoặc logstash:5000 nếu chạy Docker -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Cấu hình log cho root logger -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
